name: Compile Fasta to PDF Release

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.fasta' # Only runs when a .fasta file is modified

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to create a release

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run compilation script
        run: python scripts/compile.py *.fasta

      - name: Generate Tag Name
        id: tag
        run: echo "tag_name=v$(date +'%Y.%m.%d-%H%M')" >> $GITHUB_OUTPUT

      - name: Create Release and Upload PDF
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.tag_name }}
          name: Śpiewnik Build ${{ steps.tag.outputs.tag_name }}
          files: pdf/Śpiewnik.pdf
          draft: false
          prerelease: false